@tailwind base;
@tailwind components;
@tailwind utilities;

@import "rsuite/dist/rsuite.css";

body {
  font-family: "poppins";
}

.rdrDefinedRangesWrapper {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
